#OnCampusBackground {
  background-color: #f3f3f3;
  margin: 0px;
  padding: 0px;
}

#leftSide {
  position: absolute;
  max-width: 50%;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 82.5%;
  background-color: rgba(203,65,11);
  display: flex;
  flex-direction: column;
  /*height: fit-content;*/
  color: gainsboro;
  overflow-y:scroll;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
    #leftSide:hover{

    }
#spacerBarLeft{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 1%;
  background-color: #13294b;
}

#leftSideBanner {
  position: relative;
  width: 100%;
  top: .9%;;
  right: 0%;
  background-color: #13294b;
  color: GhostWhite;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
}

#containerL {
  align-self: center;
}
#row1L {
  position: relative;
  flex-basis: auto;
  width: 100%;
  font-size: 1.1vw;
  display: flex;
  flex-direction: row;

}
.bold {
  font-weight: bold;
  font-size: 1.4vw;
}
.italics {
  font-style: italic;
}
#IconRow1L {
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  font-size: 7vw;

  align-items: center;
  color: GhostWhite;

}
#IconL1 {
  position: relative;
  left: 22%;
  top: 20%;
}
#image1L {
  transform: scale(.3,.3);
}

#WordsRow1L {
  flex-basis: 80%;

  font-family: "Ebrima";
  padding-left: 19px;
  padding-right: 19px;
}


#row2L {
  position: relative;
  flex-basis: auto;
  width: 100%;

  font-size: 1.1vw;
  display: flex;
  flex-direction: row;
}

#IconRow2L {
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  font-size: 7vw;

  align-items: center;
  color: GhostWhite;

}
#IconL2 {
  position: relative;
  left: 26%;
  top: 20%;
}
#image2L {
  transform: scale(.3,.3);
}
#WordsRow2L {
  flex-basis: 80%;

  font-family: "Ebrima";
  padding-left: 19px;
  padding-right: 19px;
}

#row3L {
  position: relative;
  flex-basis: auto;
  width: 100%;
  font-size: 1.1vw;
  display: flex;
  flex-direction: row;
}

#IconRow3L {
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  font-size: 7vw;
  align-items: center;
  color: GhostWhite;

}
#IconL3 {
  position: relative;
  left: 20%;
  top: 20%;
}
#image3L {
  transform: scale(.3,.3);
}

#WordsRow3L {
  flex-basis: 80%;
  font-family: "Ebrima";
  padding-left: 19px;
  padding-right: 19px;
}



#rightSide {
  position: absolute;
  max-width: 50%;
  top: 0%;
  right: 0%;
  width: 50%;
  height: 82.5vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  /*height: fit-content;*/
  color: gainsboro;padding: 0px;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#spacerBarRight{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 1%;
  background-color: #13294b;
}

#rightSideBanner {
  position: relative;
  width: 100%;
  top: 0.9%;
  right: 0%;
  background-color: #13294b;
  color: GhostWhite;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
}
#containerR {
  align-self: center;

}
#row1R {
  position: relative;
  flex-basis: auto;
  width: 100%;
  font-size: 1.1vw;
  display: flex;
  flex-direction: row;
}
#IconRow1R {
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  font-size: 7vw;

  align-items: center;
  color: GhostWhite;

}
#IconR1 {
  position: relative;
  left: 12%;
  top: 20%;
}
#image1R {
  transform: scale(.3,.3);
}

#WordsRow1R {
  flex-basis: 80%;

  font-family: "Ebrima";
  padding-left: 19px;
  padding-right: 19px;
}


#row2R {
  position: relative;
  flex-basis: auto;
  width: 100%;

  font-size: 1.1vw;
  display: flex;
  flex-direction: row;
}

#IconRow2R {
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  font-size: 7vw;

  align-items: center;
  color: GhostWhite;

}
#IconR2 {
  position: relative;
  left: 12%;
  top: 20%;
}
#image2R {
  transform: scale(.3,.3);
}

#WordsRow2R {
  flex-basis: 80%;

  font-family: "Ebrima";
  padding-left: 19px;
  padding-right: 19px;
}

#row3R,#row4R {
  position: relative;
  flex-basis: auto;
  width: 100%;

  font-size: 1.1vw;
  display: flex;
  flex-direction: row;
}

#IconRow3R,#IconRow4R {
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  font-size: 7vw;

  align-items: center;
  color: GhostWhite;

}
#IconR3,#IconR4 {
  position: relative;
  left: 23%;
  top: 20%;
}
#image3R,#image4R {
  transform: scale(.3,.3);
}

#WordsRow3R,#WordsRow4R {
  flex-basis: 80%;

  font-family: "Ebrima";
  padding-left: 19px;
  padding-right: 19px;
}






#indexBottomButtons { /* The sidebar containing work, campus experience and contacts */
  width: 100vw;
  height: 17.5vh;
  position: fixed;
  bottom: 0%;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px -3px 10px 1px rgba(19,41,75,.6);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

#Button1 { /* On Campus */
  flex-basis: 25%;
  border: 1px solid GhostWhite;
  color: Gray;
  font-size: 1.5vw;
  background-color: GhostWhite;
  position: relative;
  outline: none;

}
    #Button1:hover {
      animation: tilty 3s /*infinite*/ ;
      transition-duration: .3s;
      background-color: #13294b;
      color: White;
      border: 1pt solid #13294b;
      box-shadow: 0px -3px 2px 0px GhostWhite;
      overflow: visible;
      cursor: pointer;
    }
/*
  @keyframes tilty {
    0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }

  }
*/
#Button2 { /* In Industry */
  flex-basis: 25%;
  border: 1px solid GhostWhite;
  color: Gray;
  font-family: sans-serif;
  font-size: 1.5vw;
  background-color: GhostWhite;
  position: relative;
  overflow: visible;
  outline: none;
  cursor: pointer;

}
      #Button2:hover {
        transition-duration: .3s;
        background-color: #13294b;
        color: White;
        border: 1pt solid #13294b;
        box-shadow: 0px -3px 2px 0px GhostWhite;
        overflow: visible;
      }

#Button3 { /* CAD Portfolio */
  flex-basis: 25%;
  border: 1px solid GhostWhite;
  color: Gray;
  font-size: 1.5vw;
  background-color: GhostWhite;
  position: relative;
  outline: none;
  cursor: pointer;
}
      #Button3:hover {
        transition-duration: .3s;
        background-color: #13294b;
        color: White;
        border: 1pt solid #13294b;
        box-shadow: 0px -3px 2px 0px GhostWhite;
      }

#Button4 { /* LinkedIn */
  flex-basis: 25%;
  border: 1px solid GhostWhite;
  color: Gray;
  font-size: 1.5vw;
  background-color: GhostWhite;
  position: relative;
  outline: none;
  cursor: pointer;
}

      #Button4:hover {
        transition-duration: .3s;
        background-color: #13294b;
        color: White;
        border: 1pt solid #13294b;
        box-shadow: 0px -3px 2px 0px GhostWhite;
      }
